  .btn {
    display: inline-block;
    padding-left: 20px;
    padding-right: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: black;

    font-family: 'cuprumbold', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0;
    background-color: @yellow-color;
    border-radius: 0 12px 12px;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
    &:hover {
        background: linear-gradient(to right, @yellow-color 15%, #fff602 50%, @yellow-color);
    }
  }

  .btn-back {
    font-size: 17px;
    line-height: 22px;
    color: @gray-color;
    letter-spacing: 0.01em;
    border-bottom: 1px dashed @gray-color;

    cursor: pointer;

    transition: 0.3s;

    &:hover {
      color: #000000;
      border-bottom: 1px dashed transparent;
    }
  }

  .btn--disabled {
      background-color: #e9e9e9;
      &:hover {
          background: #e9e9e9;
      }
  }
  //start tooltip for disabled button
  .btn--disabled::before {
      content: attr(data-title);

      position: absolute;
      top: 62px;
      left: 212px;
      z-index: 1;

      display: none;
      width: 70%;
      padding: 6px 5px;


      font-size: 18px;
      line-height: 30px;
      color: @gray-color;

      border: 1px solid #888;
      background-color: #fff;

  }
  .btn--disabled:hover::before {
      display: block;
  }
//end tooltip for disabled button

  .btn.btn__review {
    padding: 15px 60px;
  }


  .btn.btn__modal {
    display: block;
    margin: 0 auto;
    padding: 15px 40px;
    font-size: 20px;
    &--gifts {
      margin-right: 0;
      margin-top: 20px;
    }
  }

  .btn.btn__modal--bye {
    margin: unset;
  }

  .btn--grey {
    font-family: 'robotolight', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: @gray-color;
  }
  .btn--data {
    cursor: pointer;
    width: 100%;
    text-align: left;
    &:hover {
      font-weight: bold;
      transition: 0.3s;
    }
  }
  .btn--all-cars {
    font-size: 22px;
    line-height: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #305a7f;
    border-bottom: 1px dashed #305a7f;
    cursor: pointer;
    &:hover {
      color: #000000;
      border-bottom: 1px dashed transparent;
      transition: 0.3s;
    }
  }

  .btn--add-driver {
    margin-bottom: 15px;
    padding-left: 35px;
    cursor: pointer;
    text-align: left;
    font-family: 'cuprumbold', 'Arial', sans-serif;
    font-size: 23px;
    line-height: 62px;
    color: @yellow-color;
    .modal__pass-svg1 {
      fill: @yellow-color;
    }


  }


  .btn--delete {
    z-index: 1;
    width: 120px;
    top: -10px;
    padding-left: 10px;
    justify-content: flex-start;
    display: inline-flex;
    border: 1px solid @light-grey;
    align-items: center;
    cursor: pointer;
    .close__cross-svg {
      position: absolute;
      right: 0;
      fill: @gray-color;
    }
  }

  .btn-back--sign {
    display: none;
  }

  //Write all styles for big-tablet and small desktop
  @media (max-width: @desctopWidth)  {}
  //Write all styles for tablet-desctop(less than 1280px)
  @media (max-width: @mediumWidth)  {

  }
  ///Write styles for tablet (less than 1024px)
  @media (max-width: @lowWidth) {
    .btn--all-cars {
      font-size: 16px;
    }
    .btn--grey {
      font-size: 15px;
    }
    .btn--delete {
      top: -5px;
    }
    .btn-back--text {
      display: none;
    }

    .btn-back__svg{
      fill: @gray-color;
    }

    .btn-back--sign {
      display: block;
      border-bottom: none;
      &:hover {

        .btn-back__svg{
          fill: black;
        }
      }
    }
    .btn-back--nobord {
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
  }
  //Write all styles for mobile
  @media (max-width: @tabletWidth) {

  }