<li class="main__advantages-item main__advantages-item--gifts">
	<!--<a class="events__item-link">-->
	<img src="img/12-gifts/pic5.jpg" alt="event">
	<p class="events__item-title events__item-title--gifts">5 л топлива за оформление ОСАГО-онлайн</p>
	<!--					</a>-->

	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
	<button class="btn btn__review btn__modal btn__modal--gifts" type="button">Выбрать подарок</button>
</li>